@import "tailwindcss";

@theme {
    --color-brand: #0056FF;
    --color-primary: #0c0c0c;
    --color-secondary: #292929;
    --color-tertiary: #4C4C4C;

    --color-border: #323232;

    --color-light-heading: #fff;
    --color-light-subheading: #B3B3B3;
    --color-light-body: #fff;
    --color-light-muted: #777777;
    --color-light-label: #fff;
    --color-light-placeholder: #A2A2A2;
    --color-light-input: #fff;
    --color-light-button: #fff;

    --color-dark-heading: #0c0c0c;
    --color-dark-subheading: #0c0c0c;
    --color-dark-body: #0c0c0c;
    --color-dark-muted: #0c0c0c;
    --color-dark-label: #0c0c0c;
    --color-dark-placeholder: #0c0c0c;
    --color-dark-input: #0c0c0c;
    --color-dark-button: #0c0c0c;

    --color-input-bg: #292929;
    --color-input-border: #323232;

    --color-button-bg: #fff;

    --color-divider-bg: #323232;


    /* BRAND COLORS */
    --color-brand-pink: #FF0090;
    --color-brand-lila: #A336FF;
    --color-brand-blue: #161BFA;

    /* BASE COLORS */
    --color-background-main: #09090B;
    --color-background-secondary: #151515;

    /* TEXT */
    --color-headline: #fff;
    --color-subheadline: #949494;
    --color-explanation: #fff;
    --color-body: #fff;
    --color-hint: #C6C6C6;
    --color-placeholder: #A2A2A2;
    --color-label: #fff;
    --color-input: #fff;
    --color-button: #000;

    /* ELEMENTS */
    --color-background-input: #0F0F0F;
    --color-background-spacer: #323232;
    --color-background-button: #fff;

    /* SEMANTIC */
    --color-warning: #FF0000;
    --color-success: #09FF00;

    /* BORDERS & RADIUS */
    --color-border: #404040;
    --color-border-input: #3D3D3D;
    --color-border-button: #;

    /* SPACING SCALE */
}

@layer utilities {
    .scrollbar-none {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .scrollbar-none::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}